@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito&family=Poppins:wght@400;500&family=Satisfy&display=swap');
*{
    box-sizing: border-box;
    list-style: none;
}

:root{
    --light-black: rgba(0,0,0,.6);
    --light-white:rgba(25, 135, 84,0.3);
    --bg-success: #198754;
    --ff:josefin sans;
}
img{
    width: 100%;
    height: auto;
}
.box-shadow{
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}

body{
    font-family: poppins;        
}
.font-family{
    font-family: josefin sans;
}
.navbar .logo-img{
    width: 100%;
    object-fit: cover;
    color: white;
    transform: scale(2);
}
.logo{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    align-items: center;
    font-weight: bold;
    width: 160px;
}
.navbar .collapse ul li{
    margin: 0 5px;
}
.navbar .collapse ul li a{
    color: black;
    font-weight: bold;
}

.navbar .container .collapse .navbar-nav .nav-item .nav-link{
    transition: all .3s ease-in-out;
}
.navbar .container .collapse .navbar-nav .nav-item .nav-link:hover{
    color:black;

}
.navbar .container .collapse .navbar-nav .nav-item .nav-link.active{
    color: var(--bg-success);
}
.navbar .container .collapse .btn{
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .container .collapse .btn i{
    margin-right: 7px;
    font-size: 30px;
}
.showcase,
 .navbar, 
 .services,
  .flex-img,
  .grid,
  .bg,
  .footer
{
    font-family: josefin sans;
}

.showcase{
    background: linear-gradient(to bottom,rgba(255,255,255,.6),rgba(255,255,255,.6)),
    url(https://media.istockphoto.com/photos/white-desk-office-with-laptop-smartphone-and-other-supplies-with-cup-picture-id956234478?b=1&k=20&m=956234478&s=170667a&w=0&h=7W_8PjPhBtiiNRQ7g5MJB5BWTWTiJ1wm4W3lgHEV3Ao=) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.showcase .container .row .col .h1{
    font-size: 60px;
    font-weight: 800;
}
.showcase .container .row .col p{
    line-height: 1.8;
}
.showcase .container .row .col .btn{
    border-radius: 0;
}

/* services */
.services .container .row .col .h1{
    font-size: 35px;
    font-weight: 800;
}

.services .container .row .col-lg .card-title{
    font-size: 20px;
    font-weight: bold;
}
.services .container .row .col-lg p span{
    color: red;
}

.flex-img .container .row .column-2 p,
.services .container .row .col p,
.grid .container .row .col-md-6 p.lead{
color: var(--light-black);
}


/* Flex-imag */
.flex-img .container .row .column-2 .h1{
    font-size: 49px;
    font-weight: 900;
}
.flex-img .container .row .column-2 p{
    line-height: 1.8;
}

.grid .container .row .col-lg-6 img{
    width: 100%;
    height: 300px;
}
.grid .container .row .col-lg-6 h1{
    font-size: 30px;
    font-weight: 800;
}
.grid .container .row .col-lg-6 p{
    line-height: 1.8;
    font-size: 17px;
    color: var(--light-black);
}

/* bg */
.bg .container  h4{
    font-size:18px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bg .container  h1{
    font-weight: 800;
    font-size: 45px;
    text-transform: capitalize;
}
.bg .container  p{
    font-size: 20px;
}
.bg .container  p span{
    font-weight:800;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.footer .container .row .col img{
    width: 300px;
    height: 150px;
    object-fit: cover;
}

@media (max-width:991px){
    .navbar .container .collapse .navbar-nav .nav-item{
        padding: 0 5px;
    }
    .navbar .container .collapse .navbar-nav .nav-item:hover{
        background: var(--light-white);
    }
    .navbar .container .collapse .navbar-nav .nav-item:last-child{
        margin-bottom: 20px;
    }
    .showcase .container .row .col .h1{
        font-size: 45px;
    }
    .showcase .container .row .col p{
        font-size: 18px;
    }
    /* Flex image */
    .flex-img .container .row img{
        height: 400px;
        object-fit: cover;
        margin-bottom: 40px;
    }
    .flex-img .container .row .column-2 .h1{
        font-size: 40px;
    }
    /* The grid Services */
    .grid .container .row .col-md-6 .my-3{
        font-size: 27px;
        font-weight: 700;
    }
    .grid .container .row .col-md-6 p.lead{
        font-size: 18px;
        color: var(--light-black);

    }
    /* bg */
    .bg .container .col-lg-8 h4{
        font-size: 15px;
    }
    .bg.bg-primary .container .col-lg-8 .pp-2{
        font-size: 18px;
    }
    .bg.bg-primary .container .col-lg-8 h1{
        font-size: 35px;
    }
    /* Foter  */
    .footer .container .col .my-4{
        font-size: 17px;
    }
}
@media (max-width:768px){
    .showcase .container .row .col .h1{
        font-size: 40px;
    }
    .showcase .container .row .col p{
        font-size: 17px;
    }
    /* Flex image */
    .flex-img .container .row img{
        height: 300px;
        object-fit: cover;
        margin-bottom: 40px;
    }
    .flex-img .container .row .column-2 .h1{
        font-size: 36px;
    }
    /* The grid Services */
    .grid .container .row .col-md-6 .my-3{
        font-size: 27px;
        font-weight: 700;
    }
    .grid .container .row .col-md-6 p.lead{
        font-size: 17px;
        color: var(--light-black);

    }
    .bg .container .col-lg-8 h4{
        font-size: 14px;
    }
    .bg.bg-primary .container .col-lg-8 .pp-2{
        font-size: 17px;
    }
    .bg.bg-primary .container .col-lg-8 h1{
        font-size: 33px;
    }
    /* Foter  */
    .footer .container .col .my-4{
        font-size: 15px;
    }
}

/* ======================================
================PAGE ONE===================
 ========================================== */


/* ======================================
================PAGE TWO Pricing=============
 ========================================== */
.pricing-showcase .container .row .col-lg-10 .bold{
    font-weight: 700;
    font-size: 18px;
    color: var(--bg-success);
}
.pricing-showcase .container .row .col-lg-10 h1{
    text-transform: capitalize;
    font-weight: 900;
    font-size: 50px;
    font-family: var(--ff);
}
.pricing-showcase .container .row .col-lg-10 .leads{
    font-weight: 400;
    line-height: 1.8;
    font-size: 19px;
    font-family: var(--ff);
}
.two-grid p{
    opacity: .8;
}
.two-grid .no-border{
    border: 1px solid white;
    border-radius: 0;
}


.table .lead{
    color: var(--light-black);
}
.table .note{
    font-weight: bold;
    font-style: italic;
}
.table .card-head h4{
    font-weight: 800;
}
.table .col-md-3 .h1{
    font-size: 25px;
    font-weight: 700;
}
.table .btn{
    border-radius: 0;
    text-transform: uppercase;
    font-size: 15px;
}
.table .container-fluid .row .col-md-3 .card .body .price-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 20px;
}
.table .price-flex .price{
    position: relative;
    font-size: 40px;
    display: inline-block;
    /* background: #000; */
}
.table .price-flex .price span.s1{
    font-size: 15px;
    position: absolute;
    top: 3px;
    left: -13px;
    color: var(--bg-success);
}
.table .price-flex .price span.s2{
    font-size: 16px;
    color: var(--bg-success);
}

.table ul li{
    margin: 8px 0;
    font-size: 18px;
    text-align: left;
}
.table ul li i.fa-check-circle{
    color: var(--bg-success);
    margin-right: 5px;
    
}
.table ul li i.fa-times-circle{
    color: rgb(186, 11, 11);
    font-size: 20px;
}
.table .bg-discount{
    position: absolute;
    right: 10px;
    top: 10px;
}

/* porfolio ======================= */
/* porfolio ======================= */
/* porfolio ======================= */
.two-grid-portfolio .h1{
    font-size: 28px;
    text-transform: capitalize;
    font-weight: 900;
}

.projects .text-success{
    font-weight: 700;
    font-size: 20px;
}
.projects .h1{
    font-weight: 800;
    font-size: 45px;

}
.projects .leads{
    font-size: 18px;
}

.projects span{
    font-weight: bold;
    text-transform: capitalize;
    color: orange;
}
.projects img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.contact-us .container-fluid .row .col-lg-8 h4{
    font-weight: bold;
    text-transform: capitalize;
}
.contact-us .container-fluid .row .col-lg-8 .h1{
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 20px;
}
.contact-us .container-fluid .row .col-lg-8 p{
    line-height: 1.8;
    font-size: 18px;
}
.contact-us textarea{
    background: rgba(255,255,255,.2);
    width: 100%;
    color: white;
    border-radius: none;
    padding: 10px;
    outline: none;
    border: 1px solid rgba(0,0,0,.6);
}
.contact-us input[type=email] {
    background:rgba(255,255,255,.2);
    width: 100%;
    color: white;
    border-radius: 0;
    border: 1px solid rgba(0,0,0,.6);
    padding: 8px;
}
.contact-us input[type=email]::placeholder{
    color: white;
}

.contact-us .price-flex{
    position: relative;
}
/* .contact-us .price{
    font-size: 40px;
}
.contact-us .price span{
    font-size: 15px;
}
.contact-us .price span.s1{
    margin-right: 10px;
    margin-top: 40px;
} */

.logo-showcase{
    height: 100%;
    background: linear-gradient(to bottom,rgba(25,25,25,.6),rgba(25,25,25,.6)),url(https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29udHJhY3QlMjB0YWJsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60) no-repeat center center/cover;
}
.logo-showcase .pp-1{
    font-weight: 900;
    text-transform: capitalize;
    font-size: 30px;
}
.logo-showcase .col-lg-8 .h1{
    font-size: 65px;
    font-weight: 900;
}
.logo-showcase .col-lg-8 p.lead{
    line-height: 1.9;
    font-size: 23px;
    opacity: .8;
}
.logo-showcase .col-lg-8 .d-flex i{
    color: orange;
}
.logo-showcase .col-lg-8 .d-flex p{
    font-size: 21px;
}
.logo-showcase .col-lg-4 .body p{
    opacity: .8;
    font-size: 20px;
}


.contact-lg-sm h4{
    font-weight: 800;
    text-transform: capitalize;
    color: red;
}
.contact-lg-sm .container .row .col .header{
    font-weight: 800;
    text-transform: capitalize;
    font-size: 50px;
}
.contact-lg-sm .row-2 .bordered{
    display:inline-block;
    width: 100px;
    height: 100px;
    font-size: 35px;
    border-radius: 100%;
    border: 2px solid var(--bg-success);
}
.contact-lg-sm h1.h2{
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 20px;
    text-transform: capitalize;
    
}
.contact-us .top-head{
    font-weight: bold;
    text-transform: capitalize;
}
.contact-us .col-lg-8 .h1{
    font-weight: 800;
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 20px;
}


.logo-price .heading .h1{
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo-price ul li{
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 8px 0;
    text-transform: capitalize;
}
.black-logo .h2{
    font-weight: 700;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo-design img{
    width: 180px;
    height: 80px;
    object-fit: cover;
}
.logo-design h4{
    font-size: 17px;
    font-weight: normal;
    text-transform: capitalize;
}
.logo-design .brand{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.logo-design .brand span{
    background: #000;
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}